*{
    font-family: "Noto Sans J", sans-serif ;
}
.heading {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 18px;
}

.heading p {
    font-size: 18px;
    color: #666;
}

.previous-orders-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .previous-orders-link:hover {
    background-color: #45a049;
  }
  
  .previous-orders-link i {
    margin-right: 10px;
  }
  
  .previous-orders-link span {
    font-weight: bold;
  }
  
.restaurants {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-bottom: 70px;
    margin-right: 30px;
}
.restaurant-item {
    display: flex;
    align-items: center;
    margin-top: 60px;
}
.restaurant-item h3{
    margin-left: 30px;
    margin-right: 20px;
}
.restaurant-item p{
    font-size: 16px;
}
.restaurant-item h4 {
    margin-right: 20px;
}
.restaurant-item a {
    margin-right: 10px;
}

