.headings {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .headings h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 18px;
  }

  .reviews {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .reviews-content {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
  }
  
  
  .reviews-content p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .reviews-content hr {
    border-top: 1px solid #ccc;
  }