.headings {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .headings h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 18px;
  }
  
  .thanks p {
    font-size: 18px;
    color: #666;
  }

  form {
    margin: 0 auto;
    width: 400px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  div {
    margin-bottom: 15px;
  }

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 26px;
  }

  textarea {
    width: 100%;
    font-size: 20px;
  }

  select {
    height: 40px;
    width: 40%;
    font-size: 18px;
  }

  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }