{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
    <title>About</title>
</head>
<body>
    <h1>About Of CustomDishes</h1><br>

    <br>

        <p>Welcome to CustomDishes - your ultimate destination for online customizable food ordering! We understand that everyone has unique dietary requirements and preferences, and that's why we offer a platform where you can personalize your meals to your liking. Our goal is to provide you with a seamless and hassle-free food ordering experience, and we strive to exceed your expectations every time.</p> 

        <br>

        <p>With CustomDishes, you can choose from a wide range of options to suit your dietary needs, whether you're a vegetarian, vegan, gluten-free, or on a keto diet. Our platform allows you to easily add, remove or substitute ingredients, so you can create your own custom meal that's perfect for you. The ordering process is straightforward and user-friendly, so you can quickly select the items you want and have them prepared to your exact specifications. </p>

        <br>

        <p>We work with only the best restaurants and food vendors to ensure that you receive high-quality food that's not only delicious but also healthy. We understand that time is of the essence, and that's why we've made it easy for you to place your order and either have it in our restaurants and food courts or take-away. </p>

        <br>

        <p>At CustomDishes, we are committed to providing our customers with exceptional service, quality food, and a personalized experience that you won't find anywhere else. We take pride in what we do and are constantly striving to improve our platform to make your food ordering experience even better. </p>

        <br>

        <p>Thank you for choosing CustomDishes for all your food ordering needs. We look forward to serving you and helping you create the perfect meal that's tailored just for you!</p>
    
</body>
</html>