{% extends 'base1.html' %}

{% load static %}

{% static "images" as baseUrl%}

{% block head %}

    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'Customer_dashboard.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

{% endblock %}

{% block content %}



    <div class="heading">

        <h1>Welcome to Bushra City Restaurant.</h1>

        <p>Where to go if you are hungry.</p> <br>


        <p> Tap the menu to see everything we have for you.</p><br>


        <p><a href="{% url 'order' restaurant_id=7 %}">Menu</a></p>

    </div>



{% endblock %}