{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type ="text/css" href="{% static 'contact.css' %}">
    <title>Contact</title>
</head>
<body>
    <h1>Contact for CustomDishes </h1><br>

        <p>Creator: Abdishakoor Hassan <br>
            <br>
            Nairobi, Kenya <br>
            <br>
            Tel: <a href="+254722280781">+254722280781</a> <br>
            <br>
            <a href="mailto:abdishakoor145@gmail.com">abdishakoor145@gmail.com</a><br>
            <br>   
        </p>
</body>
</html>