{% extends 'base1.html' %}
{% load static %}
{% static "images" as baseUrl%}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'Customer_dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
{% endblock %}

{% block content %}


    <div class="heading">
        <h1>Welcome!!</h1>
        <p>Click on the restaurant name to view the restaurant.</p>
    </div>

    <a class="previous-orders-link" href="{% url 'customer_previous_orders' %}">
        <i class="fas fa-history"></i>
        <span>View Previous Orders</span>
    </a>    

    
    <div class="restaurants">
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indexhashkies.jpeg" alt=""></h3>
            <a href="{% url 'hash' %}"><h2>Hashkies</h2></a>
            <h3>Location: </h3> <p>Eastleigh, General Waruingi Road.</p>
            <h3>Hours:</h3><p>6am-11pm.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indexmashaallah.jpg" alt=""></h3>
            <a href="{% url 'mashaallah'  %}"><h2>MashaAllah Flavours</h2></a>
            <h3>Location: </h3> <p>Kipande Athumani Street, Eastleigh.</p>
            <h3>Hours:</h3><p>12pm-11pm.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indextajsultan.jpg" alt=""></h3>
            <a href="{% url 'tajsultan' %}"><h2>Taj Sultan Restaurant</h2></a>
            <h3>Location: </h3> <p>Jam Street, Eastleigh</p>
            <h3>Hours:</h3><p>10am-10.30pm.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indexkapital.jpg" alt=""></h3>
            <a href="{% url 'kapital' %}"><h2>Kapital Cofee</h2></a>
            <h3>Location: </h3> <p>Captain Mungai Street, Eastleigh.</p>
            <h3>Hours:</h3><p>5am-12am.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indexkilimanjaro.png" alt=""></h3>
            <a href="{% url 'kilimanjaro' %}"><h2>Kilimanjaro Food Court</h2></a>
            <h3>Location: </h3> <p>12th Street, Eastleigh.</p>
            <h3>Hours:</h3><p>5am-12am.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indexstarex.jpeg" alt=""></h3>
            <a href="{% url 'starex' %}"><h2>Starex Cafe & Restaurant</h2></a>
            <h3>Location: </h3> <p>Mweni Road, Eastleigh.</p>
            <h3>Hours:</h3><p>6am-12am.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indexbushra.jpg" alt=""></h3>
            <a href="{% url 'bushra' %}"><h2>Bushra City Restaurant</h2></a>
            <h3>Location: </h3> <p>2nd Floor, Madina Mall, Eastleigh.</p>
            <h3>Hours:</h3><p>11am-11pm.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indexkulan.jpeg" alt=""></h3>
            <a href="{% url 'kulan' %}"><h2>Kulan Cafe </h2></a>
            <h3>Location: </h3> <p>Major Murithi Road, Eastleigh.</p>
            <h3>Hours:</h3><p>7am-10.30pm.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indextogdeer.png" alt=""></h3>
            <a href="{% url 'newtogdeer' %}"><h2>New Togdeer Restaurant</h2></a>
            <h3>Location: </h3> <p>Kirongothi Street, Eastleigh</p>
            <h3>Hours:</h3><p>6am-11pm.</p>
        </div>
        <div class="restaurant-item">
            <h3><img src="{{baseUrl}}/indexjaja.jpg" alt=""></h3>
            <a href="{% url 'jaja' %}"><h2>Jaja Cafe</h2></a>
            <h3>Location: </h3> <p>Kipande Athumani St, Eastleigh.</p>
            <h3>Hours:</h3><p>11am-10pm.</p>
        </div>
    </div>
    

{% endblock %}