{% extends 'base1.html' %}

{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'item_reviews.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
{% endblock %}


{% block content %}

    <div class="headings">
        <h1>Reviews.</h1>
    </div>

    <div id="review" class="reviews">
        <div class="reviews-content">
        
        {% for review in reviews %}
            <p><strong>Customer:</strong> {{ review.customer_name.username }}</p>
            <p><strong>Rating:</strong> {{ review.rating }}</p>
            <p><strong>Review:</strong> {{ review.review_text }}</p>
            <p><strong>Submitted:</strong> {{ review.timestamp|timesince }} ago</p>
            <hr>
        {% empty %}
            <p>No reviews for this item yet.</p>
        {% endfor %}
        </div>
    </div>

{% endblock %}