{% extends 'base1.html' %}

{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'menu_item_detail.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
{% endblock %}


{% block content %}
    <h1>{{ menu_item.name }}</h1>
    <img src="{{ menu_item.image.url }}" alt="xxxx">
    <p>{{ menu_item.description }}</p>
    <p>Price: KSH>{{ menu_item.price }}</p>
    <p>Calories: {{menu_item.calories }}g</p>
    <p>Protein: {{ menu_item }}g</p>
    <p>Carbs: {{ menu_item.carbs }}g</p>
    <p>Fat: {{ menu_item.fat }}g</p>

    <h3>Reviews</h3>
    {% for review in item.reviews.all %}
    <p>Rating: {{ review.rating }}</p>
    <p>Review: {{ review.review_text }}</p>
    {% empty %}
    <p>No reviews yet.</p>
    {% endfor %}

    <h3>Write a Review</h3>
    <form method="post" action="{% url 'menu_item_detail' item_id=item.pk %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Review</button>
    </form>
{% endblock %}