{% extends 'base1.html' %}

{% load static %}

{% block head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'order_details.css' %}">
{% endblock %}

{% block content %}

    <h2>Order #{{ order.id }}</h2>
    <p>Restaurant: {{ order.menu_items.first.menu.restaurant.name }}</p>
    <p>Order Date: {{ order.order_date }}</p>
    <p>Status: {{ order.get_status_display }}</p>
    <p>Customer Special Instructions: {{ order.customer.special_instructions }}</p>
    <p>Total Price: {{ order.total_price }}</p>


{% endblock %}