{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'privacy.css' %}"/>
    <title>Privacy Policy</title>
</head>
<body>

        <h1>Privacy Policy for CustomDishes</h1> <br>

<p>At CustomDishes, we are committed to protecting the privacy and security of our users. This privacy policy explains how we collect, use, and protect your personal information when you use our website.</p>

    <h2>Information Collection</h2>
    <p>We collect personal information such as your name, email address, phone number, and billing information when you create an account or place an order. We also collect non-personal information such as your browser type, IP address, and operating system to improve our website's performance.</p><br>

   <h2>Use of Information</h2>
   <p> We use the information we collect to process your orders, communicate with you about your orders, and improve our website's functionality. We may also use your information to send you promotional emails or special offers. You can opt-out of receiving these emails at any time.</p><br>

    <h2>Disclosure of Information</h2>
    <p>We do not sell or rent your personal information to third parties. We may disclose your information to our service providers, such as payment processors or delivery companies, to facilitate your orders. We may also disclose your information if required by law or to protect our legal rights.</p><br>

    <h2>Security</h2>
    <p>We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. We use secure servers and encryption technology to safeguard your information.</p><br>

    <h2>Cookies</h2>
    <p>We use cookies to enhance your user experience and personalize your visits to our website. Cookies are small files that are stored on your device when you visit our website. You can control the use of cookies through your browser settings.</p><br>

    <h2>Children's Privacy</h2>
    <p>Our website is not intended for use by children under the age of 13. We do not knowingly collect personal information from children under the age of 13.</p><br>

    <h2>Changes to Privacy Policy</h2>
    <p>We reserve the right to modify or update this privacy policy at any time. We will post the changes on our website, and your continued use of our website after the changes become effective constitutes your acceptance of the revised policy.</p><br>
<br>
<br>
<br>
<br>

<p>If you have any questions or concerns about our privacy policy, please contact us at:  <br>
    <br>
    Tel: <a href="+254722280781">+254722280781</a> <br>
    <br>
    <a href="mailto:abdishakoor145@gmail.com">abdishakoor145@gmail.com</a><br>
    <br>

</p>

</body>
</html>