{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'terms.css' %}"/>
    <title>Terms of Service</title>
</head>
<body>

        <h1>Terms of Service for CustomDishes </h1><br>

    <h2>Acceptable Use</h2>
<p>By using our website, you agree to abide by all applicable laws and regulations, and to refrain from engaging in any prohibited activities such as hacking, spamming, or engaging in any illegal activities. You agree not to use our website for any unauthorized commercial purposes or in any way that may cause harm to the website, its users, or its reputation. </p><br>

<h2>Intellectual Property</h2>
<p>All intellectual property, including but not limited to copyrighted materials, trademarks, logos, images, and other content, are the property of the website owners. You may not use any of the content without express written permission from the website owners.</p><br>

<h2>Liability</h2>
<p>We do not guarantee the accuracy, completeness, or reliability of any content on our website. The website owners will not be liable for any damages, losses, or other issues arising from the use of our website, including but not limited to direct, indirect, incidental, special, or consequential damages.</p><br>

<h2>Privacy</h2>
<p>We respect your privacy and are committed to protecting your personal information. We collect and use your information only for the purpose of providing our services to you. We may use cookies and other tracking technologies to improve your user experience. By using our website, you consent to our use of cookies and tracking technologies in accordance with our Privacy Policy.</p><br>

<h2>Termination</h2>
<p>We reserve the right to terminate or suspend your access to our website at any time, without notice or liability, for any reason whatsoever, including but not limited to a breach of these Terms of Service.</p><br>

<h2>Dispute Resolution</h2>
<p>In the event of any dispute or disagreement between you and the website owners, we will make reasonable efforts to resolve the issue in a fair and timely manner. If we are unable to reach a resolution, the matter will be subject to the laws and regulations applicable to our website.</p><br>

<h2>Governing Law</h2>
<p>These Terms of Service will be governed by and construed in accordance with the laws of the jurisdiction in which the website is located. Any legal action arising from or related to these Terms of Service must be filed in the appropriate court in that jurisdiction.</p><br>
<br>
<br>
<br>
</body>
</html>